%h1 Listing books

%table
  %thead
    %tr
      %th Title
      %th Publisher
      %th Pub year
      %th Edition
      %th Isbn
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= book.title
        %td= book.publisher
        %td= book.pub_year
        %td= book.edition
        %td= book.isbn
        %td= link_to 'Show', book
        %td= link_to 'Edit', edit_book_path(book)
        %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
